*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
a{
	text-decoration: none;
}
label{
	cursor: pointer;
}
input, textarea{
	border-width: 2px;
	border-radius: 8px;
	resize: none;
	box-sizing: border-box;
}
img{
	outline: none;
}
.border-box{
	box-sizing: border-box
}

/* Paddings */
.section-side-padding{
	padding-left: 80px;
	padding-right: 80px;
}
.section-vertical-padding{
	padding-top: 100px;
	padding-bottom: 100px;
}
.p-20-25px{
	padding: 20px 25px;
}
.p-30px{
	padding: 30px;
}

/* Font */
.nowrap{
	white-space: nowrap;
}
.fz-15px{
	font-size: 15px;
}
.fz-18px{
	font-size: 18px;
}
.fz-20px{
	font-size: 20px;
}
.fz-25px{
	font-size: 25px;
}
.fz-45px{
	font-size: 45px;
}
.fz-55px{
	font-size: 55px;
}
.fw-600{
	font-weight: 600;
}
.fw-700{
	font-weight: 700;
}
.fw-800{
	font-weight: 800;
}
.uppercase{
	text-transform: uppercase;
}
.grey{
	color: #b0bec5;
}
.line-h20{
	line-height: 20px;
}
.line-h30{
	line-height: 30px;
}
.line-h35{
	line-height: 35px;
}
.line-h55{
	line-height: 55px;
}

/* Positioning */
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.mx-25px{
	margin: 0 25px;
}
.m-5px{
	margin: 5px 5px;
}
.ml-auto{
	margin-left: auto;
}
.ml-50px{
	margin-left: 50px;
}
.mr-auto{
	margin-right: auto;
}
.mr-2vw{
	margin-right: 2vw;
}
.mr-1vw{
	margin-right: 1vw;
}
.mr-p5vw{
	margin-right: .5vw;
}
.mb-25px{
	margin-bottom: 25px;
}
.mb-42px{
	margin-bottom: 42px;
}
.mt-20px{
	margin-top: 20px;
}
.mt-25px{
	margin-top: 25px;
}
.mt-50px{
	margin-top: 50px;
}
.mt-80px{
	margin-top: 80px;
}
.mt-100px{
	margin-top: 100px;
}
.mt-170px{
	margin-top: 170px;
}
.in-block{
	display: inline-block;
}
.flex-row{
	display: flex !important;
	flex-direction: row;
	align-items: center;
}
.flex-column{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.space-between{
	justify-content: space-between;
}
.justify-center{
	justify-content: center;
}
.justify-start{
	justify-content: start;
}
.align-start{
	align-self: flex-start !important;
	align-items: flex-start !important;
}
.align-end{
	align-self: flex-end !important;
	align-items: flex-end !important;
}
.align-center{
	align-items: center !important;
}

/* Color */
.white{
	color: white;
}
.bg-l-blue{
	background-color: #80d8ff;
}
.bg-blue{
	background-color: #82b1ff;
}
.bg-d-blue{
	background-color: #061e37;
}
.bg-purple{
	background-color: #b388ff;
}
.bg-pink{
	background-color: #ea80fc;
}
.bg-white{
	background-color: white;
}
.white-circle{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: white;
}

/* Sizes */
.w-10p{
	width: 10%;
}
.w-25p{
	width: 25%;
}
.w-48p{
	width: 48%;
}
.w-50p{
	width: 50%;
}
.w-66p{
	width: 66%;
}
.w-80p{
	width: 80%;
}
.w-100p{
	width: 100%;
}
.w-200px{
	width: 200px;
}
.h-150px{
	height: 150px;
}
.grow-1{
	flex-grow: 1;
}
.border-rad-5px{
	border-radius: 5px;
}

/* Buttons */
button{
	cursor: pointer;
	border-radius: .2em;
	outline: none;
	border: .15em solid white;
	white-space: nowrap;
}
.transp-button{
	background-color: transparent;
}
.transp-button:hover{
	color: white;
	background-color: #1de9b6;
	border-color: #1de9b6;
}
.white-button{
	background-color: white;
}
.white-button:hover{
	color: white;
	background-color: #061e37;
	border-color: #061e37;
}
.black-button{
	border-color: black;
	padding: 20px 25px;
}
.slick-prev, .slick-next{
	background-color: transparent;
	border: none;
}

/* Decoratos */
.after-dot::after{
	position: relative;
	top: 7px;
	font-size: 30px;
	content: 'ãƒ»';
}
.after-none::after{
	position: relative;
	top: 7px;
	font-size: 30px;
	content: '';
}


/* Header */
header{
	background: linear-gradient(140deg, rgba(24,255,255,0.95) 0%, rgba(6,30,55,0.95) 100%), url(img/header-bg.jpg) no-repeat;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 185px;
}
.links{
	min-width: 300px;
	width: 30%;
	transition: all .2s linear;
}
.sign-up{
	padding: 5px 18px;
}
header .content button{
	padding: 22px 42px;
}
.checkbox-label, #nav-checkbox{
	display: none;
}
header .content iframe{
	width: 37.5vw;
	height: 20.5vw;
}
header nav{
	transition: all .2s linear;
}
header .content{
	margin-top: 170px;
}

/* Services */
.services .services-content{
	width: 75%;
}
.services .collapsible{
	background-color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.services .collapsible .content{
	max-height: 0;
	overflow: hidden;
	transition: max-height .2s linear;
}

/* Footer */
footer .links{
	width: 50%;
}

/* Contact Us */
.contact-us{
	background-color: #fafafa;
}

/* Customers */
.customers{
	background: linear-gradient(140deg, rgba(29,233,182,0.95) 0%, rgba(24,255,255,0.95) 100%), url(img/customers-bg.jpg) no-repeat;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
}
.customers button{
	padding: 15px 30px;
}

/* Team */
.slider-nav, .slider-for{
	width: 700px;
}

.slider-nav img{
	margin: 0 50px;
}

@media screen and (max-width: 930px){
	/* Header */
	header{
		padding-bottom: 50px;
	}
	header .content{
		margin-top: 20px;
		flex-direction: column-reverse;
	}
	header .content iframe{
		margin-bottom: 50px;
		width: 90vw;
		height: 49.5vw;
	}

	/* Achievements */
	.achievement{
		height: 80px;
	}

	.services .services-content{
		width: 95%;
	}

	/* Contact Us */
	.contact-form{
		width: 80%;
	}

	/* Customers */
	.customers{
		flex-direction: column;
	}
	.customers .commentary{
		margin-top: 50px;
		width: 98%;
	}
}

@media screen and (max-width: 750px){
	/* Paddings */
	.section-side-padding, .section-vertical-padding{
		padding: 30px 30px;
	}

	/* Header */
	header{
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.checkbox-label{
		display: inline;
	}
	#nav-checkbox:checked + .links{
		height: 200px;
		width: 100px;
		opacity: 1;
	}
	header .links{
		position: absolute;
		top: 80px;
		right: 4vw;
		overflow: hidden;
		opacity: 0;
		height: 0;
		flex-direction: column;
		align-items: flex-end;
	}
	header .text{
		display: flex;
		flex-direction: column;
	}
	header .content button{
		margin: 5px;
		width: 250px;
		align-self: center;
	}

	/* Project tools */
	.tools .cards{
		margin-top: 0;
		flex-direction: column;
	}
	.tools .cards div{
		margin-top: 50px;
	}

	/* Achievements */
	.achievements{
		flex-direction: column;
	}
	.achievement{
		justify-content: flex-start;
		padding-left: 10vw;
	}

	/* Services */
	.services .collapsible .content{
		flex-direction: column;
	}

	/* Footer */
	footer .after-dot::after{
		content: '';
	}
	footer .links-1{
		flex-direction: column;
		align-items: flex-start;
	}
	footer .links{
		flex-direction: column;
		align-items: flex-end;
	}

	/* Contact Us */
	.contact-form{
		width: 100%;
	}

	/* Team */
	.slider-nav, .slider-for{
		width: 500px;
	}
	.slider-nav img{
		margin: 0 25px;
	}
}

@media screen and (max-width: 450px){
	/* Paddings */
	.section-side-padding, .section-vertical-padding{
		padding: 10px 10px;
	}

	/* Header */
	header{
		padding-top: 10px;
		padding-bottom: 20px;
	}
	header .content iframe{
		margin-top: 30px;
	}

	/* Footer */
	footer{
		flex-direction: column !important;
	}
	footer .links{
		width: auto;
		min-width: 0;
	}

	/* Team */
	.slider-nav, .slider-for{
		margin-top: 25px;
		width: 300px;
	}
	.slider-nav img{
		margin: 0 10px;
	}
}
